body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    
}
.top-section{
    height: 100vh;
    background-image: url("/image/header-bg.png");
    background-size: cover;
}
.heding-header{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
.heading-text{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-size: 50px;
color: #EC4C7A;

}
.text-section{
    margin-top: 50px;
}
.box{
    float: left;
    width: 30%;
    margin-left: 10%;
    margin-top: 100px;

    padding-left: 5%;
}
.img-section > img{
width: 100%;
}
p{
    font-size: 20px;
}
.hire-me{
    padding: 10px 30px;
    margin-top: 20px;
    background-image: linear-gradient(45deg , #EC4F8F,#EC4C77);
    border: none;
    border-radius: 5px;
}
.hire-me >a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    
}
.biography{
    background-image: url("/image/biography-bg.png");
    height: 100vh;
    background-size: cover;
}

.work-sec{
    background-image: url("/image/latest-work-bg.png");
    height: 80vh;
    background-size: cover;
    margin-top: 150px;
}
.work-box{
    width: 25%;
    float: left;
    padding-left: 4%;
    margin-left: 2%;

}
.work-box >img{
    width: 110%;
   
}
.work-tittle{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}
.work-tittle > h1{
font-size: 50px;
}


.client-sec{
    background-image: url("/image/header-bg.png");
    height: 90vh;
    background-size: cover;
    text-align: center;
}
.client-sec >h1{
    margin-top: 100px;
    font-size: 50px;

}
.client-sec > h2{
    margin-top: 100px;
}

.client-sec > p{
    margin-top: 110px;
    margin-bottom: 50px;
    
}
.client-sec > div{
    text-align: center;
    margin-top: 150px;
    width: 100px;
}
.client-sec >.email-button{
    width: 50%;
   
    margin:auto;
    padding: 25px;
    border-radius: 5px;
    background-image: linear-gradient(45deg , #EC4F8F,#EC4C77);
    font-size: 15px;
    color: white;
}
.client-sec >.email-button > span{
    font-size: 30px;
    color: white;
    font-weight: bold;
}
footer{
    text-align: center;
    margin-bottom: 50px;
}

/* finish css */